@model SpaDay.ViewModels.AddUserViewModel;

@if (ViewBag.error != null)
{
    <p class="field-validation-error">@ViewBag.error</p>
}

<h1>Sign Up Form</h1>

    <form method="post" action="/user">
        <div class="form-group">
            <label asp-for="Username">Username:</label>
            <br>
            <input asp-for="Username" />
            <span class="field-validation-error" asp-validation-for="Username"></span>
            <br>
        </div>

        <div class="form-group">
            <label asp-for="Email">Email:</label>
            <br>
            <input type="email" asp-for="Email" />
            <span class="field-validation-error" asp-validation-for="Email"></span>
            <br>
        </div>

        <div class="form-group">
            <label asp-for="Password">Password:</label>
            <br>
            <input type="password" asp-for="Password" />
            <span class="field-validation-error" asp-validation-for="Password"></span>
            <br>
        </div>

        <div class="form-group">
            <label asp-for="VerifyPassword">Confirm Password:</label>
            <br>
            <input type="password" asp-for="VerifyPassword" />
            <span class="field-validation-error" asp-validation-for="VerifyPassword"></span>
            <br>
        </div>
        <input type='submit' value='Submit'>
    </form>
