@model SpaDay.ViewModels.AddUserViewModel;
@*<h1>Welcome to our spa, @ViewBag.user.Username!</h1>*@
<h1>Welcome to our spa!</h1>

<p>
    <a asp-controller="Spa" asp-action="Index">Select Spa Services</a>
</p>